# Kleister OpenAPI
#
# API definition for Kleister, manage mod packs for Minecraft
#
# The version of the OpenAPI document: 1.0.0-alpha1
# Contact: kleister@webhippie.de
# Generated by: https://openapi-generator.tech
# Generator version: 7.13.0
#

require 'cgi'

module Kleister
  class ForgeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Attach a build to a Forge version
    # @param forge_id [String] A forge identifier or slug
    # @param attach_minecraft_to_build_request [AttachMinecraftToBuildRequest] The forge build data to create or update
    # @param [Hash] opts the optional parameters
    # @return [Notification]
    def attach_forge_to_build(forge_id, attach_minecraft_to_build_request, opts = {})
      data, _status_code, _headers = attach_forge_to_build_with_http_info(forge_id, attach_minecraft_to_build_request, opts)
      data
    end

    # Attach a build to a Forge version
    # @param forge_id [String] A forge identifier or slug
    # @param attach_minecraft_to_build_request [AttachMinecraftToBuildRequest] The forge build data to create or update
    # @param [Hash] opts the optional parameters
    # @return [Array<(Notification, Integer, Hash)>] Notification data, response status code and response headers
    def attach_forge_to_build_with_http_info(forge_id, attach_minecraft_to_build_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForgeApi.attach_forge_to_build ...'
      end
      # verify the required parameter 'forge_id' is set
      if @api_client.config.client_side_validation && forge_id.nil?
        raise ArgumentError, "Missing the required parameter 'forge_id' when calling ForgeApi.attach_forge_to_build"
      end
      # verify the required parameter 'attach_minecraft_to_build_request' is set
      if @api_client.config.client_side_validation && attach_minecraft_to_build_request.nil?
        raise ArgumentError, "Missing the required parameter 'attach_minecraft_to_build_request' when calling ForgeApi.attach_forge_to_build"
      end

      # resource path
      local_var_path = '/forge/{forge_id}/builds'.sub('{' + 'forge_id' + '}', CGI.escape(forge_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      unless content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(attach_minecraft_to_build_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Notification'

      # auth_names
      auth_names = opts[:debug_auth_names] || %w[Basic Header Bearer]

      new_options = opts.merge(
        operation: :'ForgeApi.attach_forge_to_build',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForgeApi#attach_forge_to_build\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Unlink a build from a Forge version
    # @param forge_id [String] A forge identifier or slug
    # @param attach_minecraft_to_build_request [AttachMinecraftToBuildRequest] The forge build data to create or update
    # @param [Hash] opts the optional parameters
    # @return [Notification]
    def delete_forge_from_build(forge_id, attach_minecraft_to_build_request, opts = {})
      data, _status_code, _headers = delete_forge_from_build_with_http_info(forge_id, attach_minecraft_to_build_request, opts)
      data
    end

    # Unlink a build from a Forge version
    # @param forge_id [String] A forge identifier or slug
    # @param attach_minecraft_to_build_request [AttachMinecraftToBuildRequest] The forge build data to create or update
    # @param [Hash] opts the optional parameters
    # @return [Array<(Notification, Integer, Hash)>] Notification data, response status code and response headers
    def delete_forge_from_build_with_http_info(forge_id, attach_minecraft_to_build_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForgeApi.delete_forge_from_build ...'
      end
      # verify the required parameter 'forge_id' is set
      if @api_client.config.client_side_validation && forge_id.nil?
        raise ArgumentError, "Missing the required parameter 'forge_id' when calling ForgeApi.delete_forge_from_build"
      end
      # verify the required parameter 'attach_minecraft_to_build_request' is set
      if @api_client.config.client_side_validation && attach_minecraft_to_build_request.nil?
        raise ArgumentError, "Missing the required parameter 'attach_minecraft_to_build_request' when calling ForgeApi.delete_forge_from_build"
      end

      # resource path
      local_var_path = '/forge/{forge_id}/builds'.sub('{' + 'forge_id' + '}', CGI.escape(forge_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      unless content_type.nil?
        header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(attach_minecraft_to_build_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Notification'

      # auth_names
      auth_names = opts[:debug_auth_names] || %w[Basic Header Bearer]

      new_options = opts.merge(
        operation: :'ForgeApi.delete_forge_from_build',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForgeApi#delete_forge_from_build\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Fetch the builds attached to a Forge version
    # @param forge_id [String] A forge identifier or slug
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search query
    # @option opts [String] :sort Sorting column
    # @option opts [String] :order Sorting order (default to 'asc')
    # @option opts [Integer] :limit Paging limit (default to 100)
    # @option opts [Integer] :offset Paging offset (default to 0)
    # @return [ListForgeBuilds200Response]
    def list_forge_builds(forge_id, opts = {})
      data, _status_code, _headers = list_forge_builds_with_http_info(forge_id, opts)
      data
    end

    # Fetch the builds attached to a Forge version
    # @param forge_id [String] A forge identifier or slug
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search query
    # @option opts [String] :sort Sorting column
    # @option opts [String] :order Sorting order (default to 'asc')
    # @option opts [Integer] :limit Paging limit (default to 100)
    # @option opts [Integer] :offset Paging offset (default to 0)
    # @return [Array<(ListForgeBuilds200Response, Integer, Hash)>] ListForgeBuilds200Response data, response status code and response headers
    def list_forge_builds_with_http_info(forge_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForgeApi.list_forge_builds ...'
      end
      # verify the required parameter 'forge_id' is set
      if @api_client.config.client_side_validation && forge_id.nil?
        raise ArgumentError, "Missing the required parameter 'forge_id' when calling ForgeApi.list_forge_builds"
      end

      allowable_values = %w[asc desc]
      if @api_client.config.client_side_validation && opts[:order] && !allowable_values.include?(opts[:order])
        raise ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end

      # resource path
      local_var_path = '/forge/{forge_id}/builds'.sub('{' + 'forge_id' + '}', CGI.escape(forge_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:search] = opts[:search] unless opts[:search].nil?
      query_params[:sort] = opts[:sort] unless opts[:sort].nil?
      query_params[:order] = opts[:order] unless opts[:order].nil?
      query_params[:limit] = opts[:limit] unless opts[:limit].nil?
      query_params[:offset] = opts[:offset] unless opts[:offset].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListForgeBuilds200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || %w[Basic Header Bearer]

      new_options = opts.merge(
        operation: :'ForgeApi.list_forge_builds',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForgeApi#list_forge_builds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Fetch the available Forge versions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search query
    # @return [ListForges200Response]
    def list_forges(opts = {})
      data, _status_code, _headers = list_forges_with_http_info(opts)
      data
    end

    # Fetch the available Forge versions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search query
    # @return [Array<(ListForges200Response, Integer, Hash)>] ListForges200Response data, response status code and response headers
    def list_forges_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForgeApi.list_forges ...'
      end
      # resource path
      local_var_path = '/forge'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:search] = opts[:search] unless opts[:search].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListForges200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || %w[Basic Header Bearer]

      new_options = opts.merge(
        operation: :'ForgeApi.list_forges',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForgeApi#list_forges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Update the available Forge versions
    # @param [Hash] opts the optional parameters
    # @return [Notification]
    def update_forge(opts = {})
      data, _status_code, _headers = update_forge_with_http_info(opts)
      data
    end

    # Update the available Forge versions
    # @param [Hash] opts the optional parameters
    # @return [Array<(Notification, Integer, Hash)>] Notification data, response status code and response headers
    def update_forge_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ForgeApi.update_forge ...'
      end
      # resource path
      local_var_path = '/forge'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Notification'

      # auth_names
      auth_names = opts[:debug_auth_names] || %w[Basic Header Bearer]

      new_options = opts.merge(
        operation: :'ForgeApi.update_forge',
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ForgeApi#update_forge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
